.user-card{
    width: 302px;
    height: 410px;
   

    background-color: #FFFFFF;
    border-radius: 20px;
    margin:10px 10px 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #131E30;
    font-family: 'mulish', sans-serif;
}

.user-card h3{
    font-size: 24px;
}

.user-card span{
    font-size: 18px;
    margin-bottom: 8px;
}

.container-follow{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
}

.container-follow span:first-child{
    margin-right: 4px;
}

.avatar{
    width: 142px;
    height: 142px;
    border: 10px solid #ECF3FC;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.username{
    padding-bottom: 69px;
}